<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Camera" tabIcon="camera"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Geolocation" tabIcon="navigate"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="DataStorage" tabIcon="cloud-upload"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Edit" tabIcon="card"></ion-tab>
</ion-tabs>
