<!--
  Generated template for the GeolocationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header  center text-center>
  <ion-navbar color="secondary">
    <ion-title>Event</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="body" padding>
  <ion-card class="text-box">
    <ion-item>
      <ion-label floating>Title</ion-label>
      <ion-textarea [(ngModel)]="eventDetails.eventTitle"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label floating>Content</ion-label>
      <ion-textarea [(ngModel)]="eventDetails.eventContent"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label floating>Latitude</ion-label>
      <ion-textarea [(ngModel)]="lat"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label floating>Longitude</ion-label>
      <ion-textarea [(ngModel)]="lng"></ion-textarea>
    </ion-item>
  </ion-card>
  <button ion-button round (click)="addEventDetails(eventDetails)">Add Data To Firebase</button>
</ion-content>
