<ion-header  center text-center>
  <ion-navbar color="secondary">
    <ion-title>Edit</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="body"padding>
  <ion-item>
    <ion-label floating>Title</ion-label>
    <ion-input type="text" [(ngModel)]="eventDetails.eventTitle"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Content</ion-label>
    <ion-input type="text" [(ngModel)]="eventDetails.eventContent"></ion-input>
  </ion-item>
  <div class="center">
  <button ion-button (click)="editEventDetails(eventDetails)">Update</button>
  </div>
</ion-content>
