<ion-header  center text-center>
  <ion-navbar color="secondary">
    <ion-title>Firebase Integration</ion-title>
    <ion-buttons end>
      <button ion-button icon-only
              (click)="navigateToAddAddeventPage()">
        <ion-icon name="add" color="light">Add</ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content class="body" padding>
  <div class="login-box">
    <ion-list>
      <ion-item *ngFor="let event of eventDetailsRef$ | async" (click)="selectEventDetails(event)">
        <h2>Title: {{event.eventTitle}}</h2>
        <h3>Content: {{event.eventContent}}</h3>
        <h2>Latitude: {{event.locationlat}}</h2>
        <h3>Longitude: {{event.locationlong}}</h3>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
