<ion-header  center text-center>
  <ion-navbar color="secondary">
    <ion-title>Image Gallery</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="body">
  <ion-slides class="image-slider" autoplay="5000" loop="true" speed="3000" slidesPerView="2">
    <ion-slide *ngFor="let img of images">
      <img src="assets/imgs/{{img}}" class="thumb-img" imageViewer/>
    </ion-slide>
  </ion-slides>
  <div style="display:flex; flex-direction:column;justify-content:center">
    <button ion-button round (click)="cameraImage()"><ion-icon name="camera"></ion-icon> &nbsp;&nbsp;Camera</button>
    <button ion-button round (click)="openGallery()" full color="secondary"><ion-icon name="images"></ion-icon>&nbsp;&nbsp;Gallery</button>
    <ion-grid>
      <ion-row>
        <ion-col col-6 *ngFor="let photo of photos" let id="index">
          <ion-card class="block">
            <ion-icon name="trash" class="deleteImg" (click)="deletePhoto(id)"></ion-icon>
            <img [src]="photo" *ngIf="photo" imageViewer/>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>