page-camera {

  ion-slide.swiper-slide {
    left: 25%;
  }

  .slide-zoom {
    background: #e6e6e6;
  }

  .thumb-img {
    padding: 10px;
  }

  .block {
    position: relative;
    .deleteImg{
      position: absolute;
      margin-left: 95%;
      margin-top: 5px;
      color: #aeaeae;
    }
  }

  .body
  {
    background: #263D43;
  }

}
